<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
       
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
       
        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="static/favicon.ico" rel="icon">

        <link href="style.css" type="text/css" rel="stylesheet">

        <title>Reisner V. Fisher: {% block title %}{% endblock %}</title>
        <style>
            table {
                width: 100%;
            }
        </style>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #08415C">
            <div class="container-fluid">
                <a id="title" class="navbar-brand" href="/"><span>Reisner V. Fisher</span></a>
                <div class="d-flex">
                    <div class="btn-group">
                        <button id="dropdownMenuButton" class="btn btn-secondary">MENU</button>
                        <button id="part2" type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/about">About</a></li>
                            <li><a class="dropdown-item" href="/timeline">Timeline</a></li>
                            <li><a class="dropdown-item" href="/analysis">Analysis</a></li>
                            <li><a class="dropdown-item" href="/artifacts">Artifacts</a></li>
                            <li><a class="dropdown-item" href="/login">QUIZ!</a></li>
                            <li><a class="dropdown-item" href="/map">Map</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/login">Login</a></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            {% if get_flashed_messages() %}
                <header>
                    <div class="alert alert-primary mb-0 text-center" role="alert">
                        {{ get_flashed_messages() | join(" ") }}
                    </div>
                </header>
            {% endif %}

            <main class="container-fluid py-5 text-center">
                {% block main %}{% endblock %}
            </main>

        </body>

        <footer class="center">
            <p class="center">Made as a joint project for CS50 and Digging Egypt's Past: Harvard and Egyptian Archaeology</p>
        </footer>

    </html>
